#grid-buttons {
	
	-fx-effect: dropshadow(gaussian, darkblue, 8.0, 0.2, 0.0, 0.0);
	-fx-background-color: #ccffff;
	-fx-font-size: 20.0;
	-fx-font-weight: bold;
	
}

#button-hit {
	
	-fx-effect: dropshadow(gaussian, darkblue, 8.0, 0.2, 0.0, 0.0);
	-fx-background-color: #ff3333;
	-fx-font-size: 20.0;
	-fx-font-weight: bold;
	
}

#button-miss {
	
	-fx-effect: dropshadow(gaussian, darkblue, 8.0, 0.2, 0.0, 0.0);
	-fx-background-color: #ffffff;
	-fx-font-size: 20.0;
	-fx-font-weight: bold;
	
}

#button-select {
	
	-fx-effect: dropshadow(gaussian, darkblue, 8.0, 0.2, 0.0, 0.0);
	-fx-background-color: #000000;
	-fx-font-size: 20.0;
	-fx-font-weight: bold;
	
}

.gridpane {

	-fx-hgap: 16.0;
	-fx-vgap: 16.0;

}